body{
  background-image: url('https://www.bigactivities.com/coloring/sports/soccer/images/soccer_ball.png');
   background-color: #D2FFE8;
  background-blend-mode: screen;
}

.input-and-button-box{
 display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
 margin-top: 45px

}
.text-entry {
 height: 35px;
 font-size:20px;
 border-style: groove;
 border-color: red;

}


.btn-next{
  height: 41px;
  width: 125px;
  margin-left: 10px;
  font-size: 15px;
  border-style: groove;
 border-color: red;
 border-width: 2px;
}


.btn-undo{
height: 41px;
  width: 125px;
  background-color: pink;
  margin-left: 10px;
  font-size: 15px;
  border-style: groove;
 border-color: red;
 border-width: 2px;
}


.btn-delete{
height: 41px;
  width: 125px;
  margin-left: 10px;
  font-size: 15px;
  border-style: groove;
 border-color: red;
 border-width: 2px;
}


.btn-schedule{
height: 41px;
  width: 125px;
  background-color: pink;
  margin-left: 10px;
  font-size: 15px;
   border-style: groove;
 border-color: red;
 border-width: 2px;
  }

  .score-tracker{
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 45px;
    color: blue;
    font-size: 85px;
  }

  .won{
    background-color: green;
    color: white;
    width: 115px;
    height: 75px;
    font-size: 15px;
    margin-right: 25px;
    border-radius: 50%;
    border-style: dashed;
    border-width: 3px;

  }

  .loss{
    background-color: red;
    color: white;
    width: 115px;
    height: 75px;
    font-size: 15px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 50%;
    border-style: dashed;
    border-width: 3px;
  }

  .draw{
    background-color: yellow;
    color: blue;
    width: 115px;
    height: 75px;
    font-size: 15px;
    border-radius: 50%;
    border-style: dashed;
    border-width: 3px;


  }


  .list-display-field{
    margin-top:40px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: center;
    min-height: 50px;
    width: 100%;
    color: black;
    font-size: 20px;

  }

  .adjust-score-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

